@page "{handler?}"
@model PRN221_JewelryShop.Pages.Staff.BuyBackOrderScreen.BuyBackOrderDetailModel
@{
    Layout = "_LayoutStaff";
    var priceFormat = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    priceFormat.NumberGroupSeparator = ".";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/ProuductDetail.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Buy Back Order Details</h1>
    </div>
    <div class="content" style="margin: auto;">
        <div class="row">
            <div class="col-md-6">
                <div class="field">
                    <label>Customer Name</label>
                    <span>@Model.BuyBackOrder?.Customer?.CustomerName</span>
                </div>
                <div class="field">
                    <label>Phone</label>
                    <span>@Model.BuyBackOrder?.Customer?.PhoneNumber</span>
                </div>
                <div class="field">
                    <label>Email</label>
                    <span>@Model.BuyBackOrder?.Customer?.Email</span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="field">
                    <label>Created Date</label>
                    <span>@Model.BuyBackOrder?.CreatedDate</span>
                </div>
                <div class="field">
                    <label>Total Price</label>
                    <span>@Model.BuyBackOrder?.TotalPrice?.ToString("#,0", priceFormat) VND</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="field">
                    <label>Products</label>
                    @if (Model.BuyBackOrder?.BuyBackOrderDetails != null)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Reason</th>
                                    <th>Buy Back Policy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in Model.BuyBackOrder?.BuyBackOrderDetails)
                                {
                                    <tr>
                                        <td>@s.Product?.ProductName</td>
                                        <td>@s.Amount</td>
                                        <td>@s.Bbprice?.ToString("#,0", priceFormat) VND</td>
                                        <td>@s.Reason</td>
                                        <td>@s.Policy?.PolicyName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
</body>
</html>
