@page "{handler?}"
@model PRN221_JewelryShop.Pages.Manager.ProductScreen.ProductManagementModel
@{
    Layout = "_LayoutManager";

    var priceFormat = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    priceFormat.NumberGroupSeparator = ".";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management</title>
    <link rel="stylesheet" href="~/css/ProductManagementStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <h1>Product Management</h1>
    </div>
    <div class="content">
        <div class="action-container">
            <div class="search-container">
                <form method="get" class="form-inline mb-3" asp-page-handler="SearchProduct">
                    <input type="text" class="form-control mr-2 w-50" asp-for="@Model.SearchValue" placeholder="Search by Product Name" />
                    <input type="hidden" name="SearchValue" value="@Model.SearchValue" />
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </form>
            </div>
            <div class="add-new-container">
                <a class="add-new-button" href="/Manager/ProductScreen/AddProduct"><i class="fa-solid fa-circle-plus"></i> Add New</a>
            </div>
        </div>
        <h5 class="noti-msg">@TempData["CreateMsg"]</h5>
        <h5 class="noti-msg">@TempData["SearchMsg"]</h5>
        <h5 class="noti-msg">@TempData["DeleteMsg"]</h5>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Avatar Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.ProductList != null)
                    {
                        @foreach (var product in Model.ProductList)

                        {
                            <tr>

                                <td><img src="data:image/png;base64,@(product.AvatarImg)" /></td>
                                <td>@product.ProductName</td>
                                <td>@product.Price?.ToString("#,0", priceFormat) VND</td>
                                <td>@product.AmountInStock</td>
                                <td>
                                    <div class="dropdown">
                                        <span class="dropdown-icon"><i class="fa-solid fa-ellipsis"></i></span>
                                        <div class="dropdown-content">
                                            <a class="detail-button" href="/Manager/ProductScreen/ProductDetail?id=@product.ProductId"><i class="fa-solid fa-circle-info"></i>Detail</a>
                                            @if (product.ProductName != "SJC Gold Bar 100 fences" && product.ProductName != "SJC Gold Bar 50 fences"
                                           && product.ProductName != "SJC Gold Bar 10 fences" && product.ProductName != "24K Gold 50 fences"
                                           && product.ProductName != "18K Gold 50 fences" && product.ProductName != "14K Gold 50 fences"
                                           && product.ProductName != "10K Gold 50 fences")
                                            {
                                                <a class="edit-button" href="/Manager/ProductScreen/UpdateProduct?id=@product.ProductId"><i class="fa-solid fa-pen-to-square"></i>Update</a>
                                            }                                           
                                            <button class="delete-button" type="button" onclick="openDeleteConfirmation('@product.ProductId')"><i class="fa-solid fa-trash"></i>Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <form method="get" asp-page-handler="Paging">

                <input type="hidden" asp-for="@Model.CurrentPage" value="@(Model.CurrentPage -1)" />
                <input type="hidden" name="SearchValue" value="@Model.SearchValue" />
                <button type="submit" class="btn btn-outline-primary" @(Model.CurrentPage <= 1 ? "disabled" : "")>Previous</button>
            </form>
            <form method="get" asp-page-handler="Paging">
                <input type="hidden" asp-for="@Model.CurrentPage" value="@(Model.CurrentPage + 1)" />
                <input type="hidden" name="SearchValue" value="@Model.SearchValue" />
                <button type="submit" class="btn btn-outline-primary" @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")>Next</button>
            </form>
            <span>Page @Model.CurrentPage of @Model.TotalPages</span>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeDeleteConfirmation()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this product?</p>
                    <form method="post" id="deleteForm" asp-page-handler="DeleteProduct">
                        <input type="hidden" id="deleteId" asp-for="ProductRequestDTO.ProductId" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeDeleteConfirmation()">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="deleteSubmit()">Delete</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        let currentEditId;
        let currentDeleteId;


        function openDeleteConfirmation(deleteId) {
            document.getElementById("deleteId").value = deleteId;
            $('#deleteConfirmationModal').modal('show');
        }

        function closeDeleteConfirmation() {
            $('#deleteConfirmationModal').modal('hide');
        }

        function deleteSubmit() {
            document.getElementById('deleteForm').submit();
            $('#deleteConfirmationModal').modal('hide');
        }

        $(document).ready(function () {
            $('.modal').modal({ show: false });

            $('.close').on('click', function () {
                $(this).closest('.modal').modal('hide');
            });
            $('.modal-footer button[data-dismiss="modal"]').on('click', function () {
                $(this).closest('.modal').modal('hide');
            });
        });

    </script>
</body>
</html>

