@page "{handler?}"
@model PRN221_JewelryShop.Pages.Manager.ReturnPolicyScreen.ReturnPolicyManagementModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/ProuductDetail.css" />
</head>
<body>
    <div class="header">
        <h1>Return Policy Management</h1>
    </div>
    <div class="content row">
        <form method="post" asp-page-handler="UpdateReturnPolicy">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ReturnPolicyList != null)
                    {
                        @for (var i = 0; i < Model.ReturnPolicyList.Count; i++)
                        {
                            <tr>
                                <input type="hidden" value="@Model.ReturnPolicyList[i].PolicyId" asp-for="ReturnPolicyRequestDTOs[i].PolicyId">
                                <td>@Model.ReturnPolicyList[i].PolicyName</td>
                                <td>
                                    <input style="width: 100%" type="text" value="@Model.ReturnPolicyList[i].PolicyDescription" asp-for="ReturnPolicyRequestDTOs[i].PolicyDescription" required />
                                </td>
                                <td>
                                    <input style="width: 20%" type="number" value="@Model.ReturnPolicyList[i].PolicyValue" asp-for="ReturnPolicyRequestDTOs[i].PolicyValue" min="0" required />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <h5 style="color: green">@TempData["UpdateMsg"]</h5>
    </div>
</body>
</html>